.details{
 display: flex;
 font-size: 14px;
 align-items: center;
 background-color: #CAD5E2;
 margin: 10px;
 padding: 15px 10px;
 border-radius: 4px;
}
.details img{
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 13px;
}
.icon{
  font-size: 20px;
  cursor: pointer;
}